In [ ]:
%load_ext heat

In [1]:
# %%heat
from frame import DataFrame
import pandas as pd
import numpy as np
from conversions import Conversions

pdf = pd.read_csv(r"C:\Users\evanw\OneDrive\Desktop\AT\Data\GOOG.csv", index_col=0)
pdf.index = pd.to_datetime(pdf.index)

frame = DataFrame.from_pandas(pdf)

freq = "1W"

In [2]:
frame.shape

(2148, 5)

In [3]:
pdf.iloc[0:]

              Open    High     Low   Close    Volume
2004-08-19  100.00  104.06   95.96  100.34  22351900
2004-08-20  101.01  109.08  100.50  108.31  11428600
2004-08-23  110.75  113.48  109.05  109.40   9137200
2004-08-24  111.24  111.60  103.57  104.87   7631300
2004-08-25  104.96  108.00  103.88  106.00   4598900
...            ...     ...     ...     ...       ...
2013-02-25  802.30  808.41  790.49  790.77   2303900
2013-02-26  795.00  795.95  784.40  790.13   2202500
2013-02-27  794.80  804.75  791.11  799.78   2026100
2013-02-28  801.10  806.99  801.03  801.20   2265800
2013-03-01  797.80  807.14  796.15  806.19   2175400

[2148 rows x 5 columns]

In [ ]:
frame.iloc[0:]

In [ ]:
def floor_(dt, timeframe):
    c = Conversions()
    if timeframe == "W":
        i = (dt // c.D) * c.D
        d = i - ( ( (i - 259200000000000) % 7 ) * c.D)
    else:
        d = (dt // getattr(c, timeframe)) * getattr(c, timeframe)
    return d

In [ ]:
def ceil_(dt, timeframe):
    c = Conversions()

    if timeframe == "W":
        i = np.ceil(dt / c.D) * c.D
        d = i + ((7 - ( (i - 259200000000000) % 7 )) * c.D)
    else:
        d = np.ceil(dt / getattr(c, timeframe)) * getattr(c, timeframe)
    return (d)

In [ ]:
index = frame.index.keys_

interval = int(freq[:-1])
timeframe = freq[-1]

bins = np.arange(
    start = floor_(index[0], timeframe), 
    stop = ceil_(index[-1], timeframe), 
    step = np.timedelta64(interval, timeframe).astype("timedelta64[ns]").astype("int64")
)

split_data = np.split(frame.values, np.cumsum(
    np.bincount(np.digitize(index, bins, right=False))[1:]
))[:-1]

In [ ]:
pdf.resample(freq).mean()

In [ ]:
a = np.array([
    [1.00000e+02, 1.04060e+02, 9.59600e+01, 1.00340e+02, 2.23519e+07],
    [1.01010e+02, 1.09080e+02, 1.00500e+02, 1.08310e+02, 1.14286e+07]
])
data[0] = np.mean(a, axis=0)
data

In [ ]:
data = np.zeros((446, 5))

In [ ]:
np.mean(np.array([frame.resample(freq).split_data[0][0]]), axis=0)

In [ ]:
np.array([frame.resample(freq).split_data[0][0]])

In [ ]:
np.mean(frame.resample(freq).split_data[0][0].reshape(1, -1))

In [ ]:
pdf.values.shape

In [ ]:
l = len(split_data)
o = np.zeros((l, 5))
#cdef sub_array
for sub_array in range(l):
    o[sub_array] = np.mean(split_data[sub_array], axis=0)
p = [np.mean(sub_array, axis=0) for sub_array in split_data]

In [ ]:
o == frame.resample(freq).mean.values