In [1]:
%load_ext cython
%load_ext heat

In [2]:
from frame import DataFrame

In [3]:
import pandas as pd
import numpy as np

pdf = pd.read_csv(r"C:\Users\evanw\OneDrive\Desktop\AT\Data\GOOG.csv", index_col=0)
pdf.index = pd.to_datetime(pdf.index)
pdf

              Open    High     Low   Close    Volume
2004-08-19  100.00  104.06   95.96  100.34  22351900
2004-08-20  101.01  109.08  100.50  108.31  11428600
2004-08-23  110.75  113.48  109.05  109.40   9137200
2004-08-24  111.24  111.60  103.57  104.87   7631300
2004-08-25  104.96  108.00  103.88  106.00   4598900
...            ...     ...     ...     ...       ...
2013-02-25  802.30  808.41  790.49  790.77   2303900
2013-02-26  795.00  795.95  784.40  790.13   2202500
2013-02-27  794.80  804.75  791.11  799.78   2026100
2013-02-28  801.10  806.99  801.03  801.20   2265800
2013-03-01  797.80  807.14  796.15  806.19   2175400

[2148 rows x 5 columns]

In [4]:
df = DataFrame.from_pandas(pdf)
df.index

In [ ]:
%timeit pdf.resample("1W").mean()

In [ ]:
import pandas as pd
import numpy as np

from frame import DataFrame

pdf = pd.read_csv(r"C:\Users\evanw\OneDrive\Desktop\AT\Data\GOOG.csv", index_col=0)

df = DataFrame.from_pandas(pdf)

def weekday(dt):
    return (dt.astype('datetime64[D]').view('int64') - 3) % 7

def resample(frame):
    x = np.asarray(frame.index.keys_)
    r = x[0]
    start = (r.astype('datetime64[D]').view('int64') - weekday(r)).astype("datetime64[D]")
    
    td = np.timedelta64(1, "W").astype("timedelta64[ns]").astype("int64")
    
    bins = np.arange(start=start, stop=x[-1], step=td)
    d = np.digitize(x.astype(np.int64), bins.astype(np.int64), right=True)
    count = np.bincount(d)[1:]
    s = np.cumsum(count)
    splitted = np.split(frame.Open.values, s)[:-1]
    return [np.mean(l) for l in splitted]

df
# resample(df)

In [ ]:
epoch = np.datetime64('1970-01-01T00:00:00')

In [ ]:
td = np.timedelta64(1, "W")

In [ ]:
for i in xrange(1,abs10):
    mylist[np.digitize(mylist,bins)==i]

In [ ]:
np.digitize()

In [ ]:
A = np.array([
        [0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17],
        [18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35],
        [36, 37, 38, 39, 40, 41],
        [42, 43, 44, 45, 46, 47],
        [48, 49, 50, 51, 52, 53],
        [54, 55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64, 65],
        [66, 67, 68, 69, 70, 71],
        [72, 73, 74, 75, 76, 77],
        [78, 79, 80, 81, 82, 83],
        [84, 85, 86, 87, 88, 89],
        [90, 91, 92, 93, 94, 95]
])

In [ ]:
B = view_as_blocks(A, block_shape=(1, 6))

In [ ]:
A = np.arange(20).reshape(5,4)
B = view_as_blocks(A, block_shape=())
B

In [ ]:
from numpy.lib.stride_tricks import as_strided

def view_as_blocks(arr_in, block_shape):
    if not isinstance(block_shape, tuple):
        raise TypeError('block needs to be a tuple')

    block_shape = np.array(block_shape)
    if (block_shape <= 0).any():
        raise ValueError("'block_shape' elements must be strictly positive")

    if block_shape.size != arr_in.ndim:
        raise ValueError("'block_shape' must have the same length "
                         "as 'arr_in.shape'")

    arr_shape = np.array(arr_in.shape)
    if (arr_shape % block_shape).sum() != 0:
        raise ValueError("'block_shape' is not compatible with 'arr_in'")

    # -- restride the array to build the block view
    new_shape = tuple(arr_shape // block_shape) + tuple(block_shape)
    new_strides = tuple(arr_in.strides * block_shape) + arr_in.strides

    arr_out = as_strided(arr_in, shape=new_shape, strides=new_strides)

    return arr_out